@import url('https://fonts.googleapis.com/css?family=Forum|Roboto');

.col-md-8{
	width:100%;
}

.col-md-8{
	margin-left:0px;
}
.container{
	width:100%;
}

body{
	font-family: 'Roboto', sans-serif;
}

.browser-icon{
	vertical-align:top;
	margin-right:5px;
	width:30px;
}

.labelCheck{
	width:20px; 
	height:20px; 
	position:relative;
	margin-left: 3px;
	vertical-align: top;
}


input.check {
    display: none;
}

.check + span{
	position: absolute;
    left: 0px; top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
	background:url('../img/unmark.png') no-repeat;
}

.check:checked + span{
	background:url('../img/mark.png') no-repeat;
}

.block-inline{
	display:inline-block;
	vertical-align:top;
	/*text-align:center;*/
	width:49.9%;
}

.fixblock {
    position: fixed;
	text-align:center;
	width: 60%;
    top: 110px;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
    background: url(../img/logo.png) no-repeat;
    padding-left: 42px;
    background-size: 40px;
    color: #fff;
	background-position: left -3px;
}
.navbar>.container .navbar-brand:hover {
	background-position:left -10px;;
}

.task_icon{
	width:24px;
}
.label-check{
	display:initial;
}

.test-block{
	background:url('../img/browsers.png') no-repeat;
	padding-left: 0px;
}

.server-side{
	display:none;
}

.client-side{
    display:none;
}


input.comm-message{
    width: 340px;
    padding-left:5px;
}
.chat{

}

.comment{
    width:400px;
}

.comment-date, .comment-author{
    display:inline-block;
    font-weight: bold;

} 
.comment-date{
    float:left;
}
.comment-author{
    float:right;
}
.clear{
    height:1px; 
    width:100%;
    clear:both;
}

.editable{
	width: 473px;
    text-align: left;
    padding: 10px;
    border: 1px solid #c5c2c2;
    box-shadow: 0px 0px 1px 0 #777;
    margin: auto;
    border-radius: 5px;
	min-height: 200px;
	background-color: rgba(255,255,255,0.50);
}


.modal-dialog{
	margin:200px auto;
}


/* a{
	text-decoration:underline;
} */


/*Играем*/
.hover-ex{
	text-decoration:underline;
	color:#216a94;
}
.hover-ex:hover{
	text-decoration:underline;
	cursor:pointer;
}

.blurry-text {
   color: transparent;
   text-shadow: 0 0 1px rgba(0,0,0,0.5);
}

.active-ex{
	display:inline-block;
	padding:2px;
	background-color:#4C8BF5;
	width:122px;
	color:#fff;
}
.illusion{
	width:200px;
}
.illusion:hover{
	margin-left:10px;
	margin-top:15px;
}
.addCart{
	cursor:pointer;
}
.zoom{
	color:#DD5044;
}
.zoom:hover{
	color:#4C8CF5;
}

.colorful:hover{
	color:orange;
}
.to-right:hover{
	text-align: right;
    margin-right: -16px;
}



/*Переделка логина*/
.nav>li, .nav>li>a{
	display:inline-block;
	color:#fff!important;
	cursor:default!important;

}

#logout{
	text-decoration:underline!important;
	cursor:pointer!important;
}

#logout:hover{
	color:#DD5044!important;
}

.navbar{
	height: 50px;
	background:#345e34;
}



.filter > div{
    display:inline-block;
    margin-left:20px
}
.filter > div:first-child{
    display:inline-block;
    margin-left:0px;
}

.filter > div > a{
    padding:5px
}

.pagination{
    margin:0px;
}

.active{
    display:inline;
    background-color: #345e34;
    
    color:#fff!important;
}

.active:hover{
    text-decoration: none;
}

.shadow:active{
    text-shadow:1px 0 10px #000;
}

form#my-dropzone {
    width: 435px;
    height: 120px;
    border: 2px dashed darkgrey;
    border-radius: 5px;
    background:#f5f1f1;
    background-image:url(../img/upload.png);
    background-blend-mode: luminosity;
}


  .dz-image-preview, .dz-file-preview {
    display: none;
  }

  #img-thumb{
    max-height:150px;
    max-width: 350px;
  }

#searchRes{
    float: right;
    clear: right;
    background-color: #fff;
    padding: 5px;
    border: 1px solid grey;
    max-height: 500px;
    display:none;
    overflow: hidden;
    position:absolute;
    right:20px;
}
#resList{
    list-style: none;
    padding-left:5px;
}

.search_res:hover{
    background-color:rgba(52, 94, 52, 0.84)!important;
    color:#fff!important;
    cursor:pointer;
}

.search_res_done{
    background-color:rgb(142, 180, 203) !important;
    color:#fff!important;
}